.logo-header {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.app-subtitle {
  margin-left: 10px;
}

.separator {
    width: 100%;
    height: 40px;
    background-color: #005EB8;
}

.menu-link,
.menu-link:hover,
.menu-link:active,
.menu-link:visited {
  color: #fff;
  outline: none;
  text-decoration: none;
}